body { padding-top:70px; }

.sidebar {
	position: fixed;
	top: 51px;
	bottom: 0;
	right: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #f5f5f5;
	border-left: 1px solid #eee;
	z-index:3;
}


.dropzone-wrapper
{
	z-index:-1;
}