html
  head
      meta(charset='utf-8')
      title Highlight dropzones with interajct.js
      link(rel='stylesheet', href='css/dropzones.css')
      script(src='/javascript/data.js')
      script(src='/javascript/dropzones.js')
      script(src='/javascript/gallery.js')
      script(src='/javascript/html_svg.js')
      script(src='/javascript/interact.js')
      script(src='/javascript/interact.min.js')
      script(src='/javascript/jquery-2.1.0.min.js')
      script(src='/javascript/jQuery.min.js')
      script(src='/javascript/modernizr.js')
      script(src='/javascript/prism.js')
      script(src='/javascript/snap.js')
      script(src='/javascript/star.js')
      script(src='/javascript/swipe.js')
      script(src='/javascript/test.js')
      script(src='/javascript/dragdrop.js')
   
    body
      #drag1.draggable.js-drag Drag me…
      #drag2.draggable.js-drag Drag me…
      #drag3.draggable.js-drag Drag me…
      #drag4.draggable.js-drag Drag me…
      .dropzone-wrapper
        #drop1.dropzone.js-drop Dropzone
        #drop2.dropzone.js-drop Dropzone
        #drop3.dropzone.js-drop Dropzone
