html
	head
		link(rel='stylesheet', href='stylesheets/dragdrop.css')
		script(src='/javascript/data.js')
		script(src='/javascript/dropzones.js')
		script(src='/javascript/gallery.js')
		script(src='/javascript/html_svg.js')
		script(src='/javascript/interact.js')
		script(src='/javascript/interact.min.js')
		script(src='/javascript/jquery-2.1.0.min.js')
		script(src='/javascript/jQuery.min.js')
		script(src='/javascript/modernizr.js')
		script(src='/javascript/prism.js')
		script(src='/javascript/snap.js')
		script(src='/javascript/star.js')
		script(src='/javascript/swipe.js')
		script(src='/javascript/test.js')
		script(src='/javascript/dragdrop.js')

	body
		#drag1.draggable.js-drag Drag me&#8230;
		#drag2.draggable.js-drag Drag me&#8230;
		#drag3.draggable.js-drag Drag me&#8230;
		#drag4.draggable.js-drag Drag me&#8230;
		.dropzone-wrapper
			#drop1.dropzone.js-drop Dropzone
			#drop2.dropzone.js-drop Dropzone
			#drop3.dropzone.js-drop Dropzone
