html
  body
    div(ng-app='' ng-init='quantity=1;cost=5')
      p Input something in the input box:
      p {{quantity*cost}}
      p
        | Name:
        input(type='text', ng-model='name', value='John')
      p(ng-bind='name')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js')