<html lang="en">
<head>
  <title>
    About
  </title>
  <link rel="stylesheet" href="../css/about.css">
</head>

<body>
 <div class="circle">
  <div id="graph">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
  <div class="about">
   

<header>
  <h2 class="author">Cluster Flock</h2>
  <h1 class="title">Data cluster system</h1>
  <h3 class="publisher">Eric Smith, Kathleen Lew, Lauren Gutlohn, Jesse Everett</h3>
  <h4 class="subtitle">Trending Analytics</h4>
 
  <h4 class="edition">First Edition</h4>  
</header>
<section>
  <h1>Introduction</h1>
  <h4>
   This application allows a user (or users) to cluster specific nouns used in tweets in regard to certain events.</h4>
</section>

<section>
  <h1>Importance</h1>
<h4>In order to keep up to date with current events, it's important to analyze naming conventions and associations with trending news. Cluster Flock features a visual representation of commonly used words and gives users a true measure of statistical data. </h4>
</section>

<section>
  <h2>Example </h2>
  <h4>

    Say during the state of the union address by Barak Obama people were to live tweet the event
    <ul>
    <li> President Obama may be phrased different ways
    <li>President Obama
    <li>The 44th President of the United States of America
    <li>Barry
    </ul>
And the user wanted to cluster all of these for analysis
A username would be entered and the tweets would appear and could then be clustered together
There could be more than one cluster at a time.
Say one wanted to complie data from the entire address
There could be   a cluster for Vice President Biden
<ul>
<li>   a cluster for Speaker Boehner
<li>  a cluster for random congressman interjecting the speech
</ul>
  </h4>
</section>
</div>


</body>
</head>
