<div class="modal fade" id="newClusterForm">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">New Cluster</h4>
      </div>
      <div class="modal-body">
        Cluster Name:<br>
	    <input type="text" id="clusterName" ng-model="cluster.name"><br>
	    Description:<br>
	    <input type="text" id="description" ng-model="cluster.description">
	    <!-- FIXTHIS Placeholder Image:<br>
	    <input type="text" ng-model="cluster.image"><br> -->
      </div>
      <div class="modal-footer">
        <button type="button" id="mySave" class="btn btn-primary" ng-click="saveNewCluster()">Save changes</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- END OF NEW CLUSTER FORM -->

<!-- SIDE BAR OF TWEETS -->
<div id="sidebar">
	<input type="text" ng-model="name" ng-blur="updateTweets()" class="form-control" placeholder="Twitter Username" />
	<br />
	<div ng-repeat="tweet in tweets" class="well text-center tweet-container">
		<div compile="tweet.parsedText"></div>
    <!-- {{tweet.username}} : {{tweet.text}} -->
    <!-- X BUTTON FOR REMOVING THE WHOLE TWEET -->
    <span ng-click="removeTweet(tweet)"class="glyphicon glyphicon-remove" aria-hidden="true"></span>
	</div>
</div>
<div id="left-container">
		<!-- Add new cluster + -->
		<div class="cluster-block btn" 
    		 ng-drop="true" 
    		 ng-drop-success="newCluster($data,$event)"
         ng-click="newCluster('','')">
    		 <div class="cluster-frame-helper">
    		 	<div class="glyphicon glyphicon-plus plus-sign"></div>
    		 </div>
    	</div>
    	<div ng-repeat="cluster in clusters" 
    		 class="cluster-block btn" 
    		 ng-click="clusterClick(cluster)"
    		 ng-drop="true" 
    		 ng-drop-success="newSubCluster($data,$event,cluster)">

    		 <h3>{{cluster.name}}</h3>
         <span ng-click="remove(cluster)"class="glyphicon glyphicon-remove delete-icon" aria-hidden="true"></span>

    	</div>



</div>
<div style="clear: both"></div>