<div class="container" style="margin-top: 60px">
    <div class="cluster-block" style="margin:0"></div>
    <div class="right-side-info" style="float: left">
      <h2 style="margin-left: 35px"> {{name}} </h2>
      <div style="margin-left: 35px;"> 
        <b>Description:</b> {{description}} <br />
        <b>Stored:</b> 5/10/2015
      </div>
    </div>
    <div style="float:right">
      <a href="/main" style="font-size: large; font-weight:bold">Back</a>
    </div>
    <div style="clear:both"></div>
    <hr />
    <div id="headerChart">Breakdown by count</div>
    <div id="myChart">
      <div id="left-of-chart">
        <div ng-repeat = "(noun, count) in nouns">{{noun}}</div>
      </div>
      <div id="inner-chart-container">
        <div ng-repeat = "noun in orderedNouns" style="width:{{noun.percent}}%"><span class="percent">{{noun.percent}}%</span></div>
      </div>
      <div style="clear:both"></div>
    </div>

    <table class="table" style="background-color: white; margin-top:10px;">
      <thead>
        <tr>
          <th>#</th>
          <th>Noun</th>
          <th>Tweet</th>
          <th>Author</th>
        </tr>
      </thead>
      <tbody ng-repeat="subCluster in subClusters">
        <tr ng-class="{active : $index%2==0}">
          <td>{{$index+1}}</td>
          <td>{{subCluster.noun}}</td>
          <td>{{subCluster.tweet}}</td>
          <td>{{subCluster.author}}</td>
        </tr>
      </tbody>
    </table>
</div>