 <div class="circle">
  <div id="graph">
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>
  <div class="userManual">
   

<header>
 <h1>User Manual</h1>
</header>
<section>
  <h3>
    <ul>
      <li>When launching the application you will be presented with a login page where you log in
        <li>After logging in the main page will appear where on the right side you can enter a twitter username

    </ul>
  </h3>
</section>

<section>
  <h3>
    <ul>
      <li>click out of the dialouge box and the two most recent tweets from that user will apear below that same box

        <li>The nouns will be highlighted and those can be dragged into the new cluster form (or an already existing cluster if there is one)

        
    </ul>
  </h3>
</section>


<section>
  <h3>
    <ul>
      <li>If dragged into a new cluster form you will be prompted with the new name and description of the cluster to be created


        <li>You can then click upon one of the clusters to see all its contents
          <li>i.e.  the nouns placed into the cluster along with who tweeted it
          <li>statistics about how often a particular noun appears

        
    </ul>
  </h3>
</section>
</div>