<!DOCTYPE html>
<html lang="en">

<head>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
</head>

<body>

<div ng-app="">
  <form novalidate>
    Cluster Name:<br>
    <input type="text" ng-model="cluster.name"><br>
    Description:<br>
    <input type="text" ng-model="cluster.description"><br>
    FIXTHIS Placeholder Image:<br>
    <input type="text" ng-model="cluster.image"><br>
    <button ng-click="save()">SAVE</button>
  </form>
</div>

<script>
function formController ($scope) {
    
    $scope.reset = function() {
        console.log($scope.cluster);
    };
    $scope.reset();

}
</script>

</body>
</html>