html(lang='en')
head
    meta(charset='utf-8')
    title Highlight dropzones with interajct.js
    script(src='/javascript/interact.js')
    script(src='/javascript/dropzones.js')

    link(rel='stylesheet', href='/stylesheets/dropzones.css')
  body
    #drag1.draggable.js-drag Drag me…
    #drag2.draggable.js-drag Drag me…
    #drag3.draggable.js-drag Drag me…
    #drag4.draggable.js-drag Drag me…
    .dropzone-wrapper
      #drop1.dropzone.js-drop Dropzone
      #drop2.dropzone.js-drop Dropzone
      #drop3.dropzone.js-drop Dropzone
